@charset "UTF-8";
/*
Theme Name: projectTheme
Theme URI: https://example.com/themes/projectTheme
Author: the Navdeep kaur
Author URI: https://deepkaursardarni2.gitlab.io
Description: Child theme for Project
Template: royal
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: projectTheme
Tags: one-column
*/


.home .entry-content{
    background-clip: border-box;
  
}

.home article{
     background-color:#66FFCC;
     padding:50px;
    color:black;
    margin:30px;
}
.home article a{
    color:#FF5D18;
}




