@charset "UTF-8";
/*
Theme Name: twenty30
Theme URI: https://example.com/themes/twenty30
Author: the Navdeep kaur
Author URI: https://deepkaursardarni2.gitlab.io
Description: Child theme for lab
Template: twentyseventeen
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: twenty30
Tags: one-column
*/


.home .entry-content{
    background-clip: border-box;
  
}

.home article{
     background-color:#50A5FF;
     padding:50px;
    color:white;
    margin:30px;
}
.home article a{
    color:#FF5D18;
}
